{% extends "base.jinja2" %}
{% macro mySorareScoreColored(score) %}
    {% set background_color = "red" %}
    
    
    {% if score >= 74 %}
        {% set background_color = "rgb(1, 147, 85)" %}
    {% elif score >= 61 %}
        {% set background_color = "rgb(29, 194, 155)" %}
    {% elif score >= 49 %}
        {% set background_color = "rgb(171, 194, 29)" %}
    {% elif score >= 30 %}
        {% set background_color = "rgb(241, 206, 23)" %}
    {% elif score >= 15 %}
        {% set background_color = "rgb(225, 146, 27)" %}
    {% endif %}
    <span style="color:white;background-color:{{background_color}}">{{score}}</span>
{% endmacro %}

{% block content %}

<table>
{% for com_sum in data.competition_summary %}
    <tr>
        <td>{{ com_sum.slug }}</td>
        <td>{{ com_sum.numGames }}</td>
        <td>{{ com_sum.avgScorePerc }}</td>
        <td>{% if com_sum.winRate.count() > 0 %}{{ com_sum.winRate.get_average( ) | round(0)}} %{% endif %}</td>
    </tr>
{% endfor %}
</table>
<table>
{% for game in data.past_games %}
    {% set color = "green" %}
    {% if game.withMatch == False %}
        {% set color = "white" %}
    {% elif game.won == False %}
        {% set color = "red" %}
    {% endif %}
    <tr>
        <td colspan="9">{{ game.name }}</td>
        <td colspan="1">{{ game.cap }}</td>
        <td colspan="2" style="background-color:{{color}}">{{ game.won }}</td>
    </tr>
    <tr>
        {% for player in game.myLineup %}
            <td colspan="2">
                <img style="width:80px"src="{{player.pictureUrl}}"/>
                <div>{{mySorareScoreColored(player.score)}}</div>
            </td>
        {% endfor %}
        <td colspan="2">{{game.myLineupScore | round(2)}}</td>
    </tr>
    {% for tactic in game.tactics %}
    <tr {% if tactic.slug == game.myTacticSlug %} style="font-weight:bold "{% endif %} >
        {% for player in game.myLineup %}
            {% if game.playerDetailScores[player.playerSlug] %}
                <td colspan="2">{{game.playerDetailScores[player.playerSlug][tactic.stat]}}</td>
            {% endif %}
        {% endfor %}

        <td colspan="2">
            {{ tactic.displayName }}
        </td>
    </tr>
    {% endfor %}
    <tr></tr>
    {% if game.withMatch == True %}
    <tr>
        {% for player in game.otherLineup %}
            <td colspan="2">
                <img style="width:80px"src="{{player.pictureUrl}}"/>
                <div>{{mySorareScoreColored(player.score)}}</div>
            </td>
        {% endfor %}
        <td colspan="2">{{game.otherLineupScore | round(2)}}</td>
    </tr>
    {% endif %}
    {% if game.topTeam %}
    <tr><td colspan="12">Best possible lineup</td></tr>
    <tr>
        {% for player in game.topTeam %}
            <td colspan="2">
                <div>{{player.displayName}}</div>
                <div>{{mySorareScoreColored(player.playerScore.score)}}</div>
            </td>
        {% endfor %}
        <td colspan="2">
            <p><b>{{ game.topTeamScore | round(2)}}</b> ({{ game.maxScorePercentage }}%)</p>
            {{ game.topTeamTactic}}
        </td>

    </tr>
    {% endif %}
    {% if game.strategyTeam %}
    <tr><td colspan="12">Strategy</td></tr>
    <tr>
        {% for player in game.strategyTeam %}
            <td colspan="2">
                <div>{{player.name}}</div>
            </td>
        {% endfor %}
        <td colspan="2">
            <p><b>{{ game.strategyTeamScore | round(2)}}</b></p>
            {{ game.strategyTeamTactic}}
        </td>

    </tr>
    {% endif %}
    <tr>
        <td colspan="6">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td>L15</td>
                    <td>Score</td>
                </tr>
            {% if game.game.data %}
            {% for area in game.game.data.homeFormation.startingLineup %}
                {% for player in area %}
                    <tr>
                        <td>{{ player.displayName }}</td>
                        <td>{{player.position[:1]}}</td>
                        <td>{{ mySorareScoreColored(player.averageScore) }}</td>
                        <td>{{ mySorareScoreColored(player.playerScore.score) }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            {% endif %}
            </table>
        </td>
        <td colspan="6">
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td>L15</td>
                    <td>Score</td>
                </tr>
            {% if game.game.data %}
            {% for area in game.game.data.awayFormation.startingLineup %}
                {% for player in area %}
                    <tr>
                        <td>{{ player.displayName }}</td>
                        <td>{{player.position[:1]}}</td>
                        <td>{{ mySorareScoreColored(player.averageScore) }}</td>
                        <td>{{ mySorareScoreColored(player.playerScore.score) }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
            {% endif %}
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            Bench
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td>L15</td>
                    <td>Score</td>
                </tr>
            {% if game.game.data %}
            
            {% for player in game.game.data.homeFormation.bench %}
                <tr>
                    <td>{{ player.displayName }}</td>
                    <td>{{player.position[:1]}}</td>
                    <td>{{ mySorareScoreColored(player.averageScore) }}</td>
                    <td>{{ mySorareScoreColored(player.playerScore.score) }}</td>
                </tr>
            {% endfor %}
            {% endif %}
            
            </table>
        </td>
        <td colspan="5">
            Bench
            <table>
                <tr>
                    <td></td>
                    <td></td>
                    <td>L15</td>
                    <td>Score</td>
                </tr>
            {% if game.game.data %}
            
            {% for player in game.game.data.awayFormation.bench %}
                <tr>
                    <td>{{ player.displayName }}</td>
                    <td>{{player.position[:1]}}</td>
                    <td>{{ mySorareScoreColored(player.averageScore) }}</td>
                    <td>{{ mySorareScoreColored(player.playerScore.score) }}</td>
                </tr>
            {% endfor %}
            {% endif %}
            
            </table>
        </td>
        
    </tr>
{% endfor %}
</table>

{% endblock %}
